/* App Container */
.app-container {
  display: flex;
  height: 100vh;
}

/* App Bar */
.app-bar {
  height: 10vh;
  width: 100vw;
  background-color: #eaebec;
  color: #0c0c0c;
  padding: 20px;
  display: flex;
 
  align-items: center;
}

.app-bar button {
  align-items: start;
  background: none;
  border: none;
  color: #faf9f9;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  width: 20vw;
  height: 100vh;
  bottom: 0;
  
  background-color: #0b0b0b;
  transition: transform 0.3s ease-in-out;
  overflow-y:hidden; /* Add scrollbar if content overflows */
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
  text-decoration: none;
  margin: 0;
}

.sidebar li {
  padding: 10px;
  color: #eaebec;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #0c0c0c;
  }
}

/* Content Section */
.content {
  
  height: 90vh;
  width:70vw;
  float: right;
  padding-left: 70px;
  position: fixed;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 gap:60px;
 display: flex;
  padding: 100px;
}

/* Proper Alignment for Content Section */
.content p {
  margin: 0;
}
.myCard {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

